################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inv/Inv/obj
/.vs/MasterInv/v16
